.squareDark {
  height: 100px;
  position: absolute;
  width: 100px;
  background-color: #769656;
}
.squareLight {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: #bbbbbb;
}

p {
  
}